PORT=3000
NODE_ENV=production

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/votaciones?retryWrites=true&w=majority

SESSION_SECRET=cambia-este-secreto-largo
# En Render (HTTPS) pon true
COOKIE_SECURE=true

ADMIN_USER=admin
ADMIN_PASSWORD=123456
ADMIN_NAME=Administrador

REPORT_CODE=123456

# NUNCA actives esto en producción (bloquea el arranque si está en true):
# RESET_DB=false
# DROP_DB=false
